<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html ng-app>
	<head>
		<title>Baja autor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="customJs/autor.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Librería Acciona IT</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#">Autores</a>
								<ul>
									<li><a href="altaAutor.html">Alta</a></li>
									<li><a href="#">Baja</a></li>
									<li><a href="modificarAutor.html">Modificación</a></li>
									<li><a href="listAutores.html">Listado de autores</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Libros</a>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1" ng-controller="bajaAutor">
					<form ng-submit="formBajaAutor(fields.idAutor)">
						<div class="container">
							<header class="major">
								<h2>Autores</h2>
								<p>Baja autor</p>
							</header>
	
							<!-- Content -->
								<section id="content">
									<h3>Autor</h3>
									<div class="select-wrapper">
							    		<select ng-model="fields.idAutor" ng-change="autorChanged(fields.idAutor)" name="selectAutores">
							    			<option ng-repeat="a in autores" value="{{a.idAutor}}">{{a.nombre}} {{a.apellido}}</option>
							    		</select>
					    			</div>
						    		<hr />
									<h3>DNI</h3>
									<input type="text" name="dni" id="dni" value="" placeholder="Documento" ng-model="fields.dni" readonly="readonly" />
									<br />
									<h3>Nombres</h3>
									<input type="text" name="name" id="name" value="" placeholder="Nombres" ng-model="fields.nombre" readonly="readonly" />
									<br />
									<h3>Apellido</h3>
									<input type="text" name="apellido" id="apellido" value="" placeholder="Apellido" ng-model="fields.apellido" readonly="readonly" />
								</section>
	
						</div>
						<br />
						<div class="container">
							<div class="row uniform 50%">
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Borrar" class="special" /></li>
										<li><input type="reset" value="Limpiar" /></li>
										<br />
										<div ng-show="mensaje">{{mensaje}}</div>
									</ul>
								</div>
							</div>
						</div>
					</form>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>